@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.subTask-board, .task-board {
    display: inline-block;
    height: 60vh;
    width: 350px;
    padding: 10px 0;
    position: relative;
    overflow-y: scroll;
}

.task-board {
    padding: 10px;
}

.subTask-board::-webkit-scrollbar, .task-board::-webkit-scrollbar {
    width: 0;
    transform: translateX(50%);
}

.task-item {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.subTask-item {
    color: black;
    padding: 15px;
}

.task-title {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: rgb(55, 0, 184);
    padding: 10px;
}

.date-time {
    color: grey;
    padding: 2px 10px;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.floating-button {
    position: absolute;
    top: 55vh;
    left: 175px;
    transform: translateX(-50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    border: 0;
    margin: auto;
    outline: none;
    background-color: #00b7e7;
    color: white;
    cursor: pointer;
}

.new-task-modal {
    width: 280px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00a8ff;
    animation: show-modal-animate 0.5s;
}

.modal-content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
}

.modal-container {
    text-align: center;
    vertical-align: middle;
    height: 120px;
    padding: 20px 0;
}

.modal-close-button {
    border: none;
    display: inline-block;
    padding: 3px 6px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
}

.new-task-title-input {
    outline: none;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 50%;
    padding-left: 5px;
    padding-right: 20px;
    transform: scale(1.2, 1.2);
}

.new-task-submit-button {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: lawngreen;
    color: indigo;
    transform: scale(1.2, 1.2);
    outline: none;
}

.new-task-submit-button:active {
    background-color: limegreen;
}

@keyframes show-modal-animate {
    from {
        opacity: 0;
        transform: translate(-50%, 100%) scale(0, 0);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}